h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    color: #1aff00;
}

body{
    background-color: #000;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 25px;
    width: 300px;

}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p{color: #1aff00;}